*{
  margin:0px;
  padding: 10px 10px;
  background: white;
}

/* banner style */

.banner-container{
  width:1247px;
  display: flex;
  justify-content: space-between;
}
.banner-title{
  width: 243px;
  height: 52.2px;
  color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
padding-left: 30px;
padding-top: 30px;
}
.icon-bar{
  width: 463px;
 margin-top: 10px;
 gap: 5px;
 }

.icon-bar button{
background: transparent;
border: none;
color: rgb(58, 58, 58);
font-family: Poppins;

font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
margin-bottom: 10px;
}
/*  End of banner style */

/* banner box style start */

.banner-container-2{
  width: 1247px;
  
}


.banner-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.banner-title-2{
  width: 582px;
height: 133px;

color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 52px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}

.banner-description-2{
  width: 505px;
height: 60.9px;

color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}

.btn-1{
  width: 156px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: none;
  order: 0;
flex-grow: 0;
margin: 0px 8px;
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
border-radius: 41px;
text-align: center;

background: rgb(224, 44, 109);
}



/* card item container */
.card-item-container{
  width: 1047px;
height: 1662px;
margin-left: 45px;
padding: 0 5px 5px 0px;

}


/* container title */
.container-title{
  
height: 70px;
text-align: center;
padding-left: 90px;
color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 38px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0px;
}


/* card parent */
.card-parent{
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  gap: 20px;
}


/* logo div */

.logo-div{
  
display: flex;
text-align: center;
gap:70px ;

}
/* logo div end here */

/* star div */
.star-box{
  width:220px;
 }

.checked{
  display: inline-flex;
  color: orange;
  padding: 0px;
}


/* card style */

.card-1{
/* width: 329px; */
height: 476px;
border-radius: 5px;

box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
}

.card-title{
  width: 151px;
height: 40px;
color: rgb(24, 25, 31);
font-family: Poppins;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

/* shared style */

.span-money{
  width: 82px;
height: 36px;
color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}

.card-text{
  width: 196px;
height: 61px;
color: rgb(120, 120, 133);
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 143%;
letter-spacing: 1.8%;
text-align: left;
}


/* section 3 */

.section-3{
  display: flex;
 margin-left: 20px;
gap: 80px;

}

.title-3{
  color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 38px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
}
.text-div-3{
  width: 610px;
height: 224px;
}

.description-3{
 width: 501px;
height: 88px;
color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}

.btn-2{
  width: 105px;
  height: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
background: rgb(224, 44, 109);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
margin-left: 10px ;
}

/* footer */

nav{
  width: 1200px;
  text-align: center;
  
  
}

.footer-title{
 
height: 36px;
color:rgba(36, 143, 107, 0.678);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: center;

}

.footer-description{
  
height: 24px;
color: rgb(63, 108, 168);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

.fa{
  height: 32px;
 

}